 <div class="user-details">
  <h1> Reinventing Human Understanding </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
    </div>
    <div class="tech">
      <h2>Zgmund-AI</h2>
    </div>
    <div class="tech">
      <h2>Secured</h2>
    </div>
</div>
<div class="user">
	<div class="tech">
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Contact us to hear more about how your product can benefit from Zgmund psychological API</p>
    </div>
</div>